@import 'src/scss/variables';

.notifications {
  padding: $main-spacing;
}

.notification {
  font-size: .85rem;
  background: $color-background-3;
  border-radius: $main-border-radius;
  border: 1px solid $color-main-border;
  color: $color-text-lighter;

  &:not(:last-child) {
    margin-bottom: $main-spacing;
  }

  .top {
    display: flex;
    // justify-content: space-between;
    border-bottom: 1px solid $color-main-border;
    padding: .25rem .5rem;
    font-size: $font-size-mini;
  }

  .player-name {
    margin-right: .25rem;
  }

  .date {
    margin-left: auto;
  }

  .bottom {
    padding: .5rem;
  }

  .player-name,
  .item {
    color: $color-text;
    font-weight: 500;
  }

  .value {
    color: $color-main;
    font-weight: 500;
  }
}
