@import 'src/scss/variables';

$horizontal-padding: 1rem;
$vertical-padding: 1rem;

.player-container {
  padding-top: $horizontal-padding;
  padding-right: $vertical-padding;
  text-transform: uppercase;

  .title-2 {
    background: url('../../../images/bg-2.svg') no-repeat;
    background-size: 100% 100%;
    padding: .4rem 2rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    color: $color-text;
    opacity: .7;
  }

  .title-3 {
    background: url('../../../images/bg-1.svg') no-repeat;
    background-size: 100% 100%;
    color: $color-text-lighter;
    padding: .4rem 1rem;
    text-align: center;
    display: inline;
    font-size: .85rem;
  }

  .player-block {
    padding-top: $horizontal-padding;
  }

  .player-entry {
    padding-top: $horizontal-padding;
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
