@import 'src/scss/variables';

.bubles {
  display: flex;
  min-width: 112px;
}

.buble {
  width: .85rem;
  height: .85rem;
  border-radius: 50%;
  border: 1px solid $color-text-lighter;
}

.buble:not(:last-child) {
  margin-right: .5rem;
}

.buble.is-active {
  background: $color-main;
  border-color: $color-main;
}
