@import 'src/scss/variables';

.player-infos {
  display: flex;
  margin-bottom: 1rem;

  img {
    background: $color-background-2;
    border: 1px solid $color-main-border;
    border-radius: .3rem;
    padding: .5rem;
  }

  .portrait {
    width: 10rem;
    display: block;
  }

  .right {
    padding: .5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .info-name {
    display: flex;
    flex-direction: row;
  }

  .name {
    margin-bottom: .75rem;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .button:not(:last-child) {
      margin-bottom: .25rem;
    }

    .upgrade-button {
      color: $color-green;
      font-size: 0.75rem;
      text-transform: uppercase;
      display: flex;
      margin-bottom: 1em;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
    }

    .material-icons {
      font-size: 0.8rem;
    }
  }
}
