@import 'src/scss/variables';

.stuff {
  .list__entry:not(:last-child) {
    padding-bottom: .5rem;
    margin-bottom: .75rem;
    border-bottom: 1px solid $color-main-border;
  }

  .button-add-small {
    position: absolute;
    top: .2rem;
    right: .4rem;
  }
}

.stuff-category {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .empty {
    color: $color-text-lighter;
  }
}

.stuff-entry {
  .top {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin-bottom: .5rem;
  }

  .actions {
    display: flex;
    align-items: center;
    margin-left: .5rem;
  }

  .action {
    width: 1rem;

    &:not(:last-child) {
      margin-right: .25rem;
    }

    &:hover path {
      fill: $color-main;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    path {
      fill: $color-text-lighter;
    }
  }

  .infos {
    padding-left: .5rem;
  }

  .infos__entry {
    display: flex;
    align-items: center;

    .input-number .input {
      font-size: .85rem;
      width: 2rem;
    }
  }

  .info-name {
    width: 6rem;
    color: $color-text-lighter;
    font-size: $font-size-mini;
  }

  .info-value {
    font-size: $font-size-mini;
    color: $color-green;

    &.is-damage {
      color: $color-red;
    }
  }
}
