@import 'src/scss/variables';

.map {
  padding-top: $header-height;
  padding-right: $sidebar-width;
}

.tile-infos {
  position: fixed;
  // right: $main-spacing + $sidebar-width;
  left: $main-spacing;
  bottom: $main-spacing;
  width: 16rem;
  z-index: 20;
  background: $color-background-2;
  padding: .5rem;
  border-radius: $main-border-radius;
  border: 1px solid $color-main-border;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    background: url('../../images/bg-1.svg') no-repeat;
    background-size: 100% 100%;
    color: $color-text-lighter;
    padding: .4rem 2rem;
    text-align: center;
    display: inline-block;
    font-size: .85rem;
  }

  .right {
    display: flex;
    align-items: center;
  }

  .button-close {
    width: 1rem;
    height: 1rem;
    display: flex;
    margin-left: .5rem;
    margin-right: .25rem;

    span {
      margin: auto;
      color: $color-text-lighter;
      font-size: .85rem;
    }
  }
}

.note {
  margin-top: .5rem;
  position: relative;

  .textarea {
    height: 12rem;
    resize: none;
    background: $color-background;
    border-radius: $main-border-radius;
  }

  .button {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
  }
}
