@import 'src/scss/variables';

.input-number {
  display: flex;
  align-items: center;

  .input {
    background: transparent;
    color: $color-main;
    text-align: center;
    outline: 0;
    font-weight: 500;
    // opacity: .8;
    letter-spacing: .1em;
    width: 2.2rem;
    // height: 1.1rem;
    font-size: .85rem;
    border: 0;
    margin: 0;
    padding: 0;

    &.is-zero {
      color: $color-text-lighter;
    }
  }

  &.is-big .input {
    border-width: 2px;
    font-size: 1.2rem;
    width: 2.2rem;
  }
}

.button-number {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;

  span {
    color: $color-main-border;
    font-size: 1rem;
  }
}
