@import 'src/scss/variables';

.header {
  height: $header-height;
  background: $color-background-2;
  border-bottom: 1px solid $color-main-border;
  padding: .5rem 1rem;
  display: grid;
  grid-template-columns: 14rem 1fr 14rem;
  position: fixed;
  top: 0;
  left: 0;
  right: $sidebar-width;
  z-index: 20;

  >div {
    display: flex;
    align-items: center;
  }

  .middle {
    justify-content: center;
  }

  .right {
    justify-content: flex-end;
  }

  .title {
    color: $color-main;
    font-size: 1.4rem;
    font-family: 'Patrick Hand', cursive;
  }

  .button-upgrade {
    color: $color-green;
    font-size: $font-size-mini;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    line-height: 1;
    margin-top: .25rem;
    margin-left: .25rem;

    span {
      font-size: .85rem;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  border-radius: 1000rem;
  overflow: hidden;
  border: 1px solid $color-main-border;
}

.menu__entry {
  background: $color-background-2;
  padding: .5rem 1rem;
  color: $color-text;
  text-transform: uppercase;
  font-size: $font-size-mini;
  letter-spacing: .1em;
  font-weight: 500;
  transition: .1s all;

  &:not(:last-child) {
    border-right: 1px solid $color-main-border;
  }

  &:hover,
  &.is-active {
    background: $color-background-3;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: $sidebar-width;
  height: 100vh;
  background: $color-background-2;
  border-left: 1px solid $color-main-border;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .notifications-wrapper {
    flex: 1 100% 100%;
    overflow: auto;
  }
}
