html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0pt none;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0pt;
  padding: 0pt;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  color: $color-text;
  font-family: 'Inter', sans-serif;
  font-size: $font-base-size;
  // background: $color-background url('../images/background.png');
  background: $color-background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: 0;
  outline: 0 !important;
  cursor: pointer;
  padding: 0;
  display: block;
  -webkit-appearance: none;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  outline: 0 !important;
  cursor: pointer;
  text-decoration: none;
}

// Hide arrows buttons input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
