.dropdown-toggle {
  background: transparent !important;
  border-color: $color-text-lighter !important;
  box-shadow: 0 0 0 transparent !important;
  color: $color-text-lighter !important;
  font-size: .85rem;
  max-width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:disabled {
    cursor: default;
    border-color: $color-main-border !important;
    color: $color-main-border !important;
  }
}
