// .button-main {
//   background: $color-background-2;
//   color: $color-text-lighter;
//   border-radius: 1000rem;
//   border: 2px solid $color-text-lighter;
//   display: flex;
//   padding: .5rem;
//   padding-right: .8rem;
//   opacity: .8;
//   margin: auto;
//   align-items: center;
//   font-size: 1rem;
//   text-transform: uppercase;
//   font-weight: 600;
// }

.button-add {
  background: $color-background-2;
  color: $color-text-lighter;
  border-radius: 1000rem;
  border: 1px solid $color-text-lighter;
  display: flex;
  padding: .5rem;
  padding-right: .8rem;
  opacity: .8;
  margin: auto;
  margin-top: 1rem;
  align-items: center;
  font-size: .85rem;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;

  // &:focus {
  //   border-color: $color-main !important;
  // }

  span {
    font-size: 1.5em;
    margin-right: .2rem;
  }
}

.button-add-small {
  color: $color-text-lighter;
  border-bottom: 0;
  display: flex;
  opacity: .8;
  align-items: center;
  font-size: $font-size-mini;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;

  span {
    font-size: 1.5em;
    margin-right: .2rem;
  }
}

.button {
  background: $color-background-2;
  border: 1px solid $color-main-border;
  color: $color-text-lighter;
  text-transform: uppercase;
  padding: .3rem .6rem;
  letter-spacing: .1em;
  font-size: $font-size-mini;
  display: flex;
  align-items: center;
  font-weight: 500;
  transition: all .2s;
  border-radius: 1000rem;

  &:hover:not(:disabled) {
    border-color: $color-text-lighter;
  }

  &:disabled {
    opacity: .4;
    cursor: default;

    span {
      opacity: .4;
    }
  }

  span {
    font-size: 1.3em;
    margin-right: .4rem;
  }
}

.button--green {
  background: $color-green-2;
  color: $color-white-smoke;
}

.button-simple {
  color: $color-text-lighter;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: $font-size-mini;
  font-weight: 400;
}

.button-icon {
  width: 30px;
  height: 30px;
  padding: 0;
}

.input-group {
  display: flex;
  align-items: center;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid $color-main-border;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
  }

  &.has-label {
    justify-content: space-between;

    .input {
      margin: 0;
    }
  }

  .label {
    margin: 0;
    max-width: 12.5rem;
    display: flex;
    align-items: center;

    label {
      width: 100%;
      color: $color-text;
      font-size: $font-size-mini;
    }
  }
}

.input {
  background: transparent;
  border: 1px solid $color-main-border;
  font-size: 1rem;
  padding: .3rem .6rem;
  color: $color-text-lighter;
  outline: 0;
  border-radius: .3rem;
  transition: all .2s;
  margin: auto;

  &.is-filled {
    border-color: $color-text-lighter;
  }

  &:focus {
    border-color: $color-main;
  }
}

.textarea {
  background: transparent;
  border: 1px solid $color-main-border;
  // resize: none;
  outline: 0;
  width: 100%;
  // transition: all .2s;
  padding: .25rem .5rem;
  display: block;
}

.mask {
  mask-image: url('../images/mask.png');
  mask-size: 100%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

.content-centered {
  margin: auto;
  margin-top: 15vh;
  width: 22rem;
  padding: 1rem;
  // background: $color-background;
  // border: 1px solid rgba($color-text-lighter, .5);
  // border-radius: 10px;
}

.die--0 {
  border-color: $color-yellow !important;
  color: $color-yellow !important;
}

.die--1 {
  border-color: $color-green !important;
  color: $color-green !important;
}

.die--2 {
  border-color: $color-blue !important;
  color: $color-blue !important;
}

.die--3 {
  border-color: $color-purple !important;
  color: $color-purple !important;
}

.player-detail-main {
  display: grid;
  gap: $main-spacing;
  // grid-template-columns: 20rem 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding: $main-spacing;
  padding-top: $header-height + $main-spacing;
  padding-right: $sidebar-width + $main-spacing;
}
