.modal-dialog {
  width: 20rem;
  margin: 3rem auto;
}

.modal.fade .modal-dialog {
  transform: translate3d(0, 1.5rem, 0);
  transition: transform .2s ease-out;
}

.modal.show .modal-dialog {
  transform: none;
}

.modal-content {
  background: $color-modal-background;
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid $color-main-border;
  padding-bottom: 3rem;
  border-radius: .3rem;

  .title-2 {
    margin-top: -1.75rem;
    margin-bottom: 2rem;
  }

  .input-group {
    border: 0;
  }

  .button-add {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 48%, 0);
    padding: .5rem 1rem;
    background: $color-modal-background;
    border: 1px solid $color-text-lighter;
    letter-spacing: .1em;
    opacity: 1;

    &:disabled {
      border-color: $color-main-border;
      color: $color-main-border;
      cursor: default;
    }
  }
}

.button-close-modal {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: $color-text-lighter;
  padding: 0;
  opacity: .6;

  span {
    display: block;
    font-size: 1.25rem;
  }
}

.modal-icon {
  margin: 1rem auto 2.5rem;
  width: 5rem;
  height: 5rem;
  border: 1px solid $color-main-border;
  border-radius: 50%;
  padding: 1rem;
  background: $color-modal-background;

  svg {
    width: 100%;
    height: 100%;
  }

  path {
    fill: $color-main;
  }
}

.title-input-wrapper {
  margin-bottom: 1.5rem;
  display: flex;

  .input {
    margin: auto;
  }
}
