.title-1 {
  // font-size: 1rem;
  margin-bottom: 1rem;
  color: $color-text-lighter;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;

  font-family: 'Patrick Hand', cursive;
  font-size: 1.3rem;
}

.title-2 {
  background: url('../images/bg-2.svg') no-repeat;
  background-size: 100% 100%;
  padding: .2rem 1.5rem;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  // margin-bottom: 1rem;

  font-family: 'Patrick Hand', cursive;
  font-size: 1.15rem;
  letter-spacing: .1em;

  // &:not(:first-child) {
  //   margin-top: 1.5rem;
  // }
}

.title-3 {
  // font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $color-text-lighter;
  // font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.title-with-bg {
  background: url('../images/bg-1.svg') no-repeat;
  background-size: 100% 100%;
  color: $color-text-lighter;
  padding: .4rem 2rem;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .1em;
  // font-size: .85rem;
}

.text-main {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.text-mini {
  color: $color-text-lighter;
  font-size: $font-size-mini;
  font-weight: 300;
  line-height: 1.4;
}

.text-note {
  // font-family: 'Annie Use Your Telescope', cursive;
  // font-size: 1.2rem;
  line-height: 1.2;
  color: $color-text;
}
