// Sizes
$font-base-size: .85rem;
$font-size-mini: .75rem;
$header-height: 3.5rem;
$sidebar-width: 22rem;
$main-spacing: .75rem;
$main-border-radius: .35rem;

// Easing
$ease-out-quint: cubic-bezier(.23, 1, .32, 1);

// Colors
$color-black: #000;
$color-white: #fff;
$color-white-smoke: #f5f6f7;
$color-yellow: #FFC312;
$color-green: #6e833d;
$color-green-2: #27ae60;
$color-blue: #0652DD;
$color-purple: #8220AA;
$color-red: #ba342d;

// Theme
// $color-background: #1f1f1f;
// $color-background-2: #0b0a0f;

$color-modal-background: $color-black;
// $color-background-3: #2c231b;

$color-main: #b86d37;
$color-main-border: #373639;




$color-background: #1F1F1F;
$color-background-2: #121212;
$color-background-3: #202124;
$color-text: $color-white-smoke;
$color-text-lighter: #979795;
// $color-text-lighter-2: #6B6B6A;
