@import 'src/scss/variables';

.frame {
  position: relative;

  &.has-title {
    margin-top: -.34rem;
  }

  &:not(:last-child) {
    margin-bottom: $main-spacing;
  }
}

.frame__inner {
  position: relative;
  padding: .3rem;
}

.frame__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $color-background-2;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 1rem solid $color-background;
    border-top: 1rem solid $color-background-2;
    width: 0;
  }
}

.frame__content {
  border: 14px solid transparent;
  border-image: url('../../images/border.svg') 14 stretch;
  position: relative;
  z-index: 2;
}

.frame__title {
  background: $color-background-2;
  display: inline-block;
  position: relative;
  top: 6px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    border-left: 1.5rem solid $color-background-2;
    border-top: 22px solid $color-background;
    width: 0;
  }

  .inner {
    padding: .4rem;
    padding-top: .25rem;
    padding-bottom: .45rem;
    display: flex;
    align-items: center;
    font-size: $font-size-mini;
    color: $color-text-lighter;
    font-weight: 500;
    // text-transform: uppercase;
    // letter-spacing: .1em;

    span {
      font-size: 1em;
      margin-right: .25rem;
    }
  }
}
