@import 'src/scss/variables';

.page-content {
  display: flex;
  flex-direction: column;

  .title-block {
    padding-bottom: 1em;
  }
}

.title-select {
  background: url('../../images/bg-2.svg') no-repeat;
  background-size: 100% 100%;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  color: $color-text;
  opacity: .7;
  text-transform: uppercase;
}

.player-entry {
  &:not(:last-child) {
    margin-bottom: .75rem;
  }

  .frame__content {
    display: flex;
    align-items: center;

    .material-icons {
      margin-right: .5rem;
      color: $color-text-lighter;
    }
  }
}
