@import 'src/scss/variables';

.dice-proposition-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // border-bottom: 1px solid $color-main-border;

  .input-group {
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    border: none;
  }
}
