@import 'src/scss/variables';

.roll-dice {
  border-top: 1px solid $color-main-border;
  box-shadow: 0 -1rem 4rem 1rem $color-background-2;
  position: relative;
  z-index: 2;

  .bottom {
    display: flex;
    margin: $main-spacing 0 1rem;

    .inner {
      display: flex;
      align-items: center;
      margin: auto;
    }

    .roll-button {
      width: 4rem;
      height: 4rem;
      border: 1px solid $color-main;
      border-radius: 50%;
      padding: .75rem;
      background: $color-background-2;
      position: relative;
      box-shadow: 0 0 1rem rgba($color-black, .4);
      transition: all .4s $ease-out-quint;
      margin: 0 1rem;

      &:hover {
        transform: scale(1.06);
      }

      &:active {
        transform: scale(1.02);
      }

      svg {
        width: 100%;
        height: 100%;
      }

      path {
        fill: $color-main;
      }
    }

    .button {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;

      span {
        margin: auto;
        font-size: 1.2rem;
      }
    }
  }
}

.dice-list {
  padding: 0 1rem;
  // padding-bottom: .5rem;
  margin-top: $main-spacing;
  // display: grid;
  // row-gap: $main-spacing;
  // grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: space-between;
}

.die-input {
  display: flex;
  flex-direction: column;
  align-items: center;

  // .input-number {
  //   margin: auto;
  // }

  .label {
    font-size: $font-size-mini;
    color: $color-main-border;
    margin-top: .25rem;
  }
}
