@import 'src/scss/variables';

.dice-history-entry {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -.5rem;

  .die {
    border-radius: .35rem;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    opacity: .5;
    border: 1px solid $color-white;
    margin-bottom: .5rem;

    &:not(:last-child) {
      margin-right: .5rem;
    }

    &.is-active {
      opacity: 1;
    }

    span {
      margin: auto;
      font-size: .8em;
      text-shadow: 0 0 2px rgba($color-black, .5);
    }
  }
}
