@import 'src/scss/variables';

$vertical-padding: 1rem;

.gamemaster-container {
  display: flex;
  flex-direction: row;
}

.players-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-left: $vertical-padding;
  flex-wrap: wrap;
  max-height: 100vh;
  overflow: scroll;
}

.notification-container {
  flex-basis: 25%;
}
