@import 'src/scss/variables';

.player-class {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $color-text;
  display: inline-block;
}

.talent {
  &:not(:last-child) {
    margin-bottom: .5rem;
  }

  .title {
    margin-bottom: .25rem;
  }
}
