@import 'src/scss/variables';

.diceegm-title-rolls {
  background: url('../../../images/bg-2.svg') no-repeat;
  background-size: 100% 100%;
  padding: .4rem 2rem;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  color: $color-text;
  opacity: .7;
}

.dicegm-rolls-container {
  max-height: 100vh;
  overflow: scroll;
  background-color: $color-background-2;
}
